/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}
.contactContainer {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start;
  gap: 20px;
}
#root {
  display: flex;
  flex: 1;
}

.summarySection {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 11px;
  padding: 15px;
  border-radius: 10px;

  max-width: 700px;
}

.capturedContainer {
  flex: 1; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 25px;
  font-size: 10px;
  padding: 15px;
  border-radius: 10px;
  text-align: left;
  
  min-width: 550px;
  max-width: 800px;

  color: whitesmoke;
  margin-bottom: 50px;
}
.sectionTitle {
  margin-bottom: 10px;
  box-shadow: -2px 1px 0px #846598;
  transition-duration: 2.5s;
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-style: italic;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.sectionTitle:hover {
  background-color: #ffbcf3;
  box-shadow: -2px 1px 10px 10px #ff0fdd;
  scale: 1.1;
  color: black;
  transition-duration: 1.3s;
  animation: ease-in;
  cursor: pointer;
}

input {
  border-radius: 8px;
  border: 1px solid #aaa;
  height: 15px;
  width: 120px;
  padding: 6px;
  font-size: 10px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 19px;
  width: 50px;
  font-size: 10px;
  line-break: auto;
  border-radius: 6px;
  border: 1px solid rebeccapurple;
  background-color: rebeccapurple;
  color: white;
  cursor: pointer;

  font-family: 'Times New Roman', Times, serif;

}
button:hover {
  background-color: indigo;
}
.infoAndContact {
  box-shadow: 3px -1px 10px purple;
  padding: 10px;
  border-radius: 3px;
  max-width: 120px;
  min-width: 90px;
  font-size: 13px;
}
.nameAndPhone {
  min-width: 200px;
}
.emailAndGithub {
  margin-top: 37px;
  max-width: 150px;
  font-weight: 300;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 10px;

  
  min-width: 150px;
  max-height: 50px;
}
.emailAndGithub:hover {
  scale: 1.25;
  box-shadow: 2px -3px 1px 0px red;
  cursor: pointer;
}
.email {
  font-size: 10px;
  font-weight: 300;
  font-style: italic;
}
.github {
  font-size: 8px;
  font-weight: 900;
  font-style: oblique;
}
.name {
  font-size: 23px;
  font-weight: 900;
}
.phone {
  display: flex;
  text-align: center;
  word-break: break-all;
  padding: 10px;
  flex-wrap: wrap;
  font-size: 14px;
  min-width: 140px;
  max-width: 400px;

  min-height: 40px;
  height: 100px;
  max-height: 200px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.summaryTitle {
  font-size: 25px;
  padding: 5px;
  border-radius: 20px;
}

/* Summary.jsx */
.summaryContainer {
  display: flex;
  box-shadow: -2px 2px 1px grey;
  padding: 10px;
  flex-direction: column;
  gap: 20px;
  min-width: 550px;
  max-width: 280px;
  margin-bottom: 70px;
  margin-right: 80px;
}



/* download button */
.downloadButton {
  font-size: 15px;
  padding: 20px;
  width: 70px;
}